#shellcheck disable=SC2148,SC2155
# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/main/kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export TALOSCONFIG="$(expand_path ./kubernetes/main/talosconfig)"
export TALOS_SCHEMATIC_ID="$(yq 'select(document_index == 1).spec.postBuild.substitute.TALOS_SCHEMATIC_ID' kubernetes/main/apps/system-upgrade/system-upgrade-controller/ks.yaml)"
export TALOS_VERSION="$(yq 'select(document_index == 1).spec.postBuild.substitute.TALOS_VERSION' kubernetes/main/apps/system-upgrade/system-upgrade-controller/ks.yaml)"
export KUBERNETES_VERSION="$(yq 'select(document_index == 1).spec.postBuild.substitute.KUBERNETES_VERSION' kubernetes/main/apps/system-upgrade/system-upgrade-controller/ks.yaml)"
export SCHEMATIC_PREFIX="$(echo $TALOS_SCHEMATIC_ID | cut -c1-32)"
export SCHEMATIC_SUFFIX="$(echo $TALOS_SCHEMATIC_ID | cut -c33-64)"
export AQUA_PROGRESS_BAR=true
export DEV_SCHEMATIC_ID="$(yq 'select(document_index == 1).spec.postBuild.substitute.TALOS_SCHEMATIC_ID' kubernetes/dev/apps/system-upgrade/system-upgrade-controller/ks.yaml)"
export DEV_VERSION="$(yq 'select(document_index == 1).spec.postBuild.substitute.TALOS_VERSION' kubernetes/dev/apps/system-upgrade/system-upgrade-controller/ks.yaml)"
export DEV_SCHEMATIC_PREFIX="$(echo $DEV_SCHEMATIC_ID | cut -c1-32)"
export DEV_SCHEMATIC_SUFFIX="$(echo $DEV_SCHEMATIC_ID | cut -c33-64)"
# export PATH="$(aqua root-dir)/bin:$PATH"
# export XDG_DATA_HOME=" $HOME/.local/share"
# export AQUA_ROOT_DIR="$XDG_DATA_HOME/aquaproj-aqua"
# export PATH="$AQUA_ROOT_DIR/bin:$PATH"
# Ansible
export VIRTUAL_ENV="$(expand_path ./.venv)"
export ANSIBLE_COLLECTIONS_PATH=$(expand_path ./.venv/galaxy)
export ANSIBLE_ROLES_PATH=$(expand_path ./.venv/galaxy/ansible_roles)
export ANSIBLE_VARS_ENABLED="host_group_vars,community.sops.sops"
PATH_add "$(expand_path ./.venv/bin)"
# Taskfile
export TASK_X_MAP_VARIABLES=0
