.DS_Store
Thumbs.db
.private/
.venv/
.task/
docs/.docusaurus
docs/node_modules/
.terraform
*.tfvars
.decrypted~*
*.secret.env
*.secret.yaml
*.agekey
*.pub
*.key
*.pem
*.crt
kubeconfig
talosconfig
config.xml
*.plan
Brewfile.lock.json
disk.yaml
wipe-data.yaml
00-wipe-data.yaml
01-wipe-disk.yaml
.work/