---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pgadmin-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        config_local.py: |
          AUTHENTICATION_SOURCES = ['oauth2', 'internal']
          MASTER_PASSWORD_REQUIRED = False
          OAUTH2_CONFIG = [{
              'OAUTH2_NAME': 'SSO',
              'OAUTH2_DISPLAY_NAME': 'SSO',
              'OAUTH2_CLIENT_ID': "{{ .PGADMIN_OIDC_CLIENT_ID }}",
              'OAUTH2_CLIENT_SECRET': "{{ .PGADMIN_OIDC_CLIENT_SECRET }}",
              'OAUTH2_TOKEN_URL': 'https://sso.monosense.io/application/o/token/',
              'OAUTH2_AUTHORIZATION_URL': 'https://sso.monosense.io/application/o/authorize/',
              'OAUTH2_USERINFO_ENDPOINT': 'https://sso.monosense.io/application/o/userinfo/',
              'OAUTH2_SERVER_METADATA_URL': 'https://sso.monosense.io/application/o/pgadmin/.well-known/openid-configuration',
              'OAUTH2_API_BASE_URL': 'https://sso.monosense.io/',
              'OAUTH2_SCOPE': 'openid email profile',
              'OAUTH2_BUTTON_COLOR': '#FF0000',
              'OAUTH2_AUTO_CREATE_USER': True,
              'OAUTH2_USERNAME_CLAIM': 'username',
              'OAUTH2_ICON': 'lock'
          }]
        .pgpass: |
          postgres-rw.databases.svc.cluster.local:5432:postgres:postgres:"{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: pgadmin
    - extract:
       key: cloudnative-pg
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin-credentials
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pgadmin-credentials-secret
    creationPolicy: Owner
  data:
    - secretKey: PGADMIN_DEFAULT_EMAIL
      remoteRef:
        key: pgadmin
        property: PGADMIN_DEFAULT_EMAIL
    - secretKey: PGADMIN_DEFAULT_PASSWORD
      remoteRef:
        key: pgadmin
        property: PGADMIN_DEFAULT_PASS
