---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: grafana-secret
    creationPolicy: Owner
    template:
      data:
        GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ .GRAFANA_OIDC_CLIENT_ID }}"
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ .GRAFANA_OIDC_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: grafana
