#shellcheck disable=SC2148,SC2155

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
export KUBERNETES_VERSION=v1.31.3
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
export TALOS_VERSION=v1.8.3
# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/prod/kubeconfig):$(expand_path ./kubernetes/infra/kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export TALOSCONFIG="$(expand_path ./kubernetes/prod/talos/clusterconfig/talosconfig):$(expand_path ./kubernetes/infra/talos/clusterconfig/talosconfig)"
# Go
export GOPATH="$(expand_path ./.go)"
PATH_add "$(expand_path "${GOPATH}/bin")"
# Python
export VIRTUAL_ENV="$(expand_path ./.venv)"
PATH_add "$(expand_path "${VIRTUAL_ENV}/bin")"
export ANSIBLE_COLLECTIONS_PATH=$(expand_path ./.venv/galaxy)
export ANSIBLE_ROLES_PATH=$(expand_path ./.venv/galaxy/ansible_roles)
export ANSIBLE_VARS_ENABLED="host_group_vars,community.sops.sops"
# minijinja
export MINIJINJA_CONFIG_FILE="$(expand_path ./.minijinja.toml)"
# other
alias rename='perl-rename'
# Taskfile
# export TASK_X_ENV_PRECEDENCE=1
export TASK_X_MAP_VARIABLES=0
