---
apiVersion: v1
kind: Service
metadata:
  name: kube-vip
  annotations:
    lbipam.cilium.io/ips: 10.25.25.1, ::ffff:10.25.25.1
spec:
  type: LoadBalancer
  selector:
    k8s-app: kube-apiserver
    tier: control-plane
  ports:
    - name: https
      port: 6443
      protocol: TCP
      targetPort: 6443
